/*TODO: refactor styles. many styles could be global, i.e. font-family*/
.list-group {
	overflow: auto;
	height: 60vh;
	border-bottom: 1px solid #e7e0e0;
  border-radius: 1%;
	width: 100%;
	font-family: Georgia, 'Times New Roman', Times, monospace;
}
.list-wrapper{
	display: flex;
	height: 50px;
}
.countris-key {
	justify-content: flex-start;
	padding-right: 10px;
	padding-left: 10px;

	line-height: 34px;
}
.list-group-item {
	padding: 0;
	cursor: pointer;
}
/*TODO: should be static or relative*/
.countris-value{
	position: absolute;
	left: 45px;
	padding-left: 10px;
	border-left: 1px solid #c3c3c3;
	height: 100%;
}
p {
	padding-top: 8px;
	font-size: 14px;
}
