/*TODO: change tags to classes throught the app */
/*TODO: change all sizes to px or em*/
/*TODO: remove vh and vw everywhere*/

h1 {
  font-size: 5em;
  text-align: center;
  margin-top: 30vh;
  display: block;
}
