<div class="side-bar" [ngSwitch]="tab">
	<app-tabs (changeTab)="handleSwitch($event)"></app-tabs>
	<form>
		<div class="form-group">
			<input (input)="filterCountrys($event)" type="text" class="form-control" id="filter" placeholder="Filter by county name">
		</div>
	</form>
	<app-countrys-list *ngSwitchCase="tabs.countrysTab" (cardOpen)="cardOpen($event)" [allData]="allData"></app-countrys-list>
	<app-location *ngSwitchCase="tabs.locationsTab" (cardOpen)="cardOpen($event)" [allData]="allData"></app-location>
</div>
<app-detail class="detail" [card]="currentCard"></app-detail>

