.sideBar {
	position: relative;
	top: 50px;
	max-width: 40%;
}

.list-group {
	overflow: auto;
	max-height: 60vh;
	border-bottom: 1px solid #e7e0e0; 
	border-radius: 1%;
}
.list-wrapper{
	display: flex;
	height: 30px;
	line-height: 30px;
}
.countrisKey {
	justify-content: flex-start;
	padding-right: 10px;
	padding-left: 10px;
	font-family: Georgia, 'Times New Roman', Times, monospace;
}
.list-group-item {
	padding: 0;
	cursor: pointer;
}
.countrisValue{
	position: absolute;
	left: 45px;
	padding-left: 10px;
	border-left: 1px solid #c3c3c3;
	font-family: Georgia, 'Times New Roman', Times, monospace;	
}
