<div class="wrapper" *ngIf="card">
  <h2 class='title'>Current item: {{card.key}}</h2>
  <p class="card-item">Name of countri: {{card.country}}</p>
  <p class="card-item">Location continent: {{card.continent}}</p>
  <p class="card-item">Capital of countri: {{card.capital}}</p>
  <p class="card-item">Phone Code of countri: {{card.phoneCode}}</p>
  <p class="card-item">Currency of country: {{card.currency}}</p>
  <p class="card-item">ISO code: {{card.ISO}}</p>
  <hr>
  <button type="button" class="btn btn-primary">Change</button>
</div>

