.wrapper {
  display: block;
  border: 1px solid #c3c3c3;
  padding: 20px;
  position: absolute;
  top: 100px;
  left: 40%;
}
.title {
  font-size: 25px;
  font-weight: 700;
}
.card-item {
  padding-top: 5px;
}

.btn{
  margin-right: 15px;
}

.label {
  margin-right: 10px;
}