<div class="wrapper" *ngIf="card && !change">
  <h2 class='title'>Current item: {{card.key}}</h2>
  <p class="card-item">Name of country: {{card.country}}</p>
  <p class="card-item">Location continent: {{card.continent}}</p>
  <p class="card-item">Capital of country: {{card.capital}}</p>
  <p class="card-item">Phone Code of country: {{card.phoneCode}}</p>
  <p class="card-item">Currency of country: {{card.currency}}</p>
  <p class="card-item">ISO code: {{card.iso}}</p>
  <hr>
  <button type="button" (click)="change = 'change'" class="btn btn-primary">Change</button>
</div>

<div class="wrapper" *ngIf="change">
  <form (ngSubmit)='saveData(form)' #form="ngForm">
    <div class="form-group">
      <label class="label">Current item:</label>
      <select required ngModel name="key">
        <option *ngFor='let item of allData' value="{{item.key}}">{{item.key}}</option>
      </select>
    </div>
      
    <div class="form-group">
      <label class="label">Name of country:</label>
      <input [ngModel]='card.country' name="country" type="text">
    </div>
      
    <div class="form-group">
      <label class="label">Location continent: </label>
      <input [ngModel]='card.continent' name="continent" type="text">
    </div>

    <div class="form-group">
      <label class="label">Capital of country: </label>
      <input [ngModel]='card.capital' name="capital" type="text">   
    </div>
      
    <div class="form-group">
      <label class="label">Phone Code of country: </label>
      <input [ngModel]='card.phoneCode' name="phoneCode" type="text">   
    </div>
      
    <div class="form-group">
      <label class="label">Currency of country:</label>
      <input [ngModel]='card.currency' name="currency" type="text">   
    </div>
      
    <div class="form-group">
      <label class="label">ISO code:</label>
      <input [ngModel]='card.iso' name="iso" type="text">   
    </div>

    <hr>
    <button [disabled]="!form.valid" type="submit" class="btn btn-success">Save</button>
    <button type="button" (click)="change = ''" class="btn btn-danger">Cancel</button>
  </form>
</div>

